/* font family


 font-family: 'Kumbh Sans', sans-serif; */

/* css  border box reset */
* {
    box-sizing: border-box;
  }
  
  /* making body flex to align content */
  
  body {
    margin: 0%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: hsl(185, 75%, 39%);
    background-repeat: no-repeat;
    background-size: contain;
    text-align: center;
    font-family: "Kumbh Sans", sans-serif;
    flex-direction: column;
    min-height: 100vh;
  }
  /* card component flex container */
  .card {
    display: flex;
    align-items: center;
    justify-content: space-between;
  
    flex-direction: column;
    background-color: white;
    max-width: 450px;
  
    margin: 2rem;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    border-top-right-radius: 1rem;
    border-top-left-radius: 1rem;
  }
  /* card component header */
  .card-header {
    width: 100%;
    height: 150px;
    background: url("images/bg-pattern-card.svg");
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    border-top-right-radius: 1rem;
    border-top-left-radius: 1rem;
  }
  
  /* header image header */
  .header-img {
    border-radius: 50%;
    border: 5px solid white;
    position: relative;
    top: 3rem;
  }
  /* card component body or width of card */
  
  .card-body {
    padding: 3rem 5rem;
  }
  /* card component footer */
  
  .card-footer {
    border-top: 1px solid hsl(0, 0%, 59%);
    width: 100%;
    justify-content: space-evenly;
    display: flex;
  }
  .card-footer h2 span {
    font-size: 1rem;
   
    font-weight: 400;
  }
  .spancolor,
  .card-footer h2 p {
    color: hsl(227, 10%, 46%);
  }
  
  /* changeing color adnd font size of headings */
  .card h1,
  .card h2 {
    color: hsl(229, 23%, 23%);
    font-size: 1.5rem;
    font-weight: 700;
  }
  .spansize {
    font-weight: 400;
  }
  p.spancolor {
    font-size: 1.4rem;
  }
  
  /* tow svg image for background top and bottom */
  .top {
    position: fixed;
    z-index: -1;
    top: -35rem;
    left: -20rem;
  
    overflow: hidden;
  }
  .bottom {
    position: fixed;
    z-index: -1;
    top: 20rem;
    left: 40rem;
    overflow: hidden;
  }
  
  /* developed by morderwebdev footersection */
  
  footer {
    margin-top: 2rem;
  }
  
  /* media query start */
  
  /* media query for devices lower than 450px */
  
  @media only screen and (max-width: 450px) {
    .card-body {
      padding: 3rem;
    }
  }
  
